
<div>
    <h1 class="top-bar"> MONTHLY BUDGET </h1>
<hr>

        <div class="home-card"> 
            <h3>ACCOUNT</h3>
                <mat-card> 
                    <mat-form-field appearance="fill">
                        <mat-label>Account Name</mat-label>
                        <input matInput type="text" [(ngModel)]="accName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Account Type</mat-label>
                        <input matInput type="text" [(ngModel)]="accType">
                    </mat-form-field>
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="accBal">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-button (click)="ui.addAcc(accName, accType, accBal)">SAVE</button>
                        <button mat-button (click)="ui.getallAccount()">GET</button>
                    </mat-card-actions>
                </mat-card>
<hr> 
                <h3>BUDGET</h3>
                <mat-card> 
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                            <mat-select [(ngModel)]="budgetName">
                                <mat-option value="Utility">Utility</mat-option>
                                <mat-option value="Rent">Rent</mat-option>
                                <mat-option value="Food">Food</mat-option>
                                <mat-option value="Misc">Misc</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="budgetTotal">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-button (click)="ui.addBudget(budgetName, budgetTotal)">SAVE</button>
                        <button mat-button (click)="ui.getallBudget()">GET</button>
                    </mat-card-actions>
                </mat-card>
<hr>
                <h3>TRANSACTIONS</h3>
                <mat-card> 
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                            <mat-select [(ngModel)]="trcType">
                                <mat-option value="Income">Income</mat-option>
                                <mat-option value="Expenses">Expenses</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                            <mat-select [(ngModel)]="trcDest">
                                <mat-option value="Account">Deposit</mat-option>
                                <mat-option value="Utility">Utility</mat-option>
                                <mat-option value="Rent">Rent</mat-option>
                                <mat-option value="Food">Food</mat-option>
                                <mat-option value="Misc">Misc</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="trcAmt">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                        </mat-form-field>
                    <mat-card-actions>
                        <button mat-button (click)="ui.addTrc(trcType, trcDest, trcAmt)">SAVE</button> 
                        <button mat-button (click)="ui.deleteTrc(id)">DELETE</button> 
                        <button mat-button (click)="ui.getallTransaction()">GET</button>
                    </mat-card-actions>
                </mat-card>
        </div>
  

    
        <!-- <div> 
        <h2>DASHBOARD</h2>
                <h3>ACCOUNT</h3>
                <div *ngFor="let account of accounts"> 
                    <mat-card class="dash-card">
                        <mat-card-content>ACCOUNT:
                            {{account.accName}}
                        </mat-card-content><br>
                        <mat-card-content>Total:
                            {{account.accBal}}
                        </mat-card-content>
                    </mat-card>
                </div>

                <h3>BUDGET</h3>
                <div *ngFor="let budget of budgets"> 
                    <mat-card class="dash1-card">
                        <mat-card-content>BUDGET:
                            {{budget.budgetName}}
                        </mat-card-content><br>
                        <mat-card-content>Total:
                            {{budget.budgetTotal}}
                        </mat-card-content>
                    </mat-card>
                </div>

        </div>  -->
   



